<div>
    <a href="/">Trở lại</a>
</div>
<div>

    <form method="POST">
        Bạn muốn xóa tài khoản:
        <strong>{{data.username}}</strong> /
        <strong>{{data.email}}</strong> ? <br>
        <button type="submit" class="btn btn-primary">Đồng ý Xóa</button>
    </form>
</div>