<div>
    <a href="/">Trở lại</a>
</div>
<h3 class="diary-title">Chỉnh sửa</h3>
<div class="add-diary">

    <form method="POST">
        <div class="form-group">
            <label for="title">Tiêu đề</label>

            <input type="text" class="form-control" id="username" name="username" value="{{data.username}}">
        </div>
        <div class="form-group">
            <label for="content">Email</label>
            <input type="text" class="form-control" id="email" name="email" value="{{data.email}}">
        </div>

        <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>
</div>
